/***************************************
 * General
 ***************************************/
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar {
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 20px;
}
/***************************************
 * login & signup
 ***************************************/
body#login .navbar,
body#signup .navbar {
  margin-bottom: 60px;
}
body#login .panel,
body#signup .panel {
  max-width: 330px;
  margin: 0 auto;
}
